clearml>=1.10.1,<2
attrs>=20.3.0,<24
fastapi[all]>=0.109.1,<0.111
uvicorn[standard]
gunicorn>=20.1.0,<20.2
asyncio>=3.4.3,<3.5 ; python_version < '3.10'
aiocache>=0.12,<0.13
tritonclient[grpc]>=2.32,<2.33
starlette
numpy==2.3.1
scikit_learn==1.5.0
pandas==2.3.1
grpcio
referencing>=0.31.0
Pillow>=10.0.1
xgboost>=1.7.5,<1.8
lightgbm>=3.3.2,<3.4
requests>=2.31.0
kafka-python>=2.0.2,<2.1
lz4>=4.0.0,<5
boto3>=1.9